<a
  href="https://westerngovernorsuniversity.sharepoint.com/sites/PartnersMigration/SharePartnerDataDumps/Forms/AllItems.aspx?OR=Teams%2DHL&CT=1675178904359&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMzAxMDEwMDkxMSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D&viewid=b0919664%2D321d%2D4494%2Db6ad%2Db5c9d2c719f8"
  target="_blank"
>
  Partner Site Data Dumps</a
>
<br />
From the Partner Site Data Dumps, Select December 2022 (or another year/month
specified by the Partner Site team).<br />
Download Agreements_with_College_Institution..., Pathways..., Institution...,
and StateOptions..., Colleges..., TransferGuidelineList... files from the Partner folder,<br />
and Institution..., Program... from the Share folder.<br />
<br />
Then use the below tools to convert to SQL insert statements and download the converted files.
<br/>
<br/>
The recommended insert order is:
<br/>
states
<br/>
colleges
<br/>
programs
<br/>
transfer_guidelines
<br/>
partner_institutions
<br/>
partner_agreements
<br/>
agreement_applied_credits
<br/>
agreement_pathways
<br/>
pathway_mappings
<br />
<br />
<br />
<hr />


<app-fileInput
  [buttonText]="'Choose States File'"
  [logic]="'vanilla'"
  #statesInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertStatesToSchema
  *ngIf="statesInput.textAsJson.length > 0"
  [fileToConvert]="statesInput.textAsJson"
  #stateConverter
  (click)="displaySaveFile(false)"
></app-convertStatesToSchema>
<br />
<br />
<span *ngIf="!(stateConverter?.statesJSON?.length > 0)">
  Please convert States to continue to Institution Conversion
</span>
<app-fileInput
  *ngIf="stateConverter?.statesJSON?.length > 0"
  [buttonText]="'Choose Share Institutions File'"
  [logic]="'guidelines'"
  #shareInstitutionsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-fileInput
  *ngIf="shareInstitutionsInput?.textAsJson?.length > 0"
  [buttonText]="'Choose Partner Institutions File'"
  [logic]="'guidelines'"
  #partnerInstitutionsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertInstitutionsToSchema
  *ngIf="
    shareInstitutionsInput?.textAsJson?.length > 0 &&
    partnerInstitutionsInput?.textAsJson?.length > 0
  "
  [filesToConvert]="{
    share: shareInstitutionsInput.textAsJson,
    partner: partnerInstitutionsInput.textAsJson,
    state: stateConverter.statesJSON
  }"
  #institutionsConverter
  (click)="displaySaveFile(false)"
></app-convertInstitutionsToSchema>
<br />
<br />

<ng-container *ngIf="!(institutionsConverter?.institutionsJSON?.length > 0)"> Please Complete State and Institution conversion to continue</ng-container>
<ng-container *ngIf="institutionsConverter?.institutionsJSON?.length > 0">
<app-fileInput
  [buttonText]="'Choose Colleges File'"
  [logic]="'vanilla'"
  #collegesInput
  (click)="displaySaveFile(false)">
</app-fileInput>
<br />
<br /> 
<app-convertCollegesToSchema
  *ngIf="collegesInput.textAsJson.length > 0"
  [fileToConvert]="collegesInput.textAsJson"
  #collegesConverter
  (click)="displaySaveFile(false)">
</app-convertCollegesToSchema>

<br />
<br />

<span *ngIf="!(collegesConverter?.collegesJSON?.length > 0)">
  Please convert Colleges continue to Program Conversion
</span>

<app-fileInput
*ngIf="(collegesConverter?.collegesJSON?.length > 0) "
  [buttonText]="'Choose Programs File'"
  [logic]="'guidelines'"
  #programsInput
  (click)="displaySaveFile(false)">
</app-fileInput>
<br />
<br /> 
<app-convertProgramsToSchema
  *ngIf="programsInput?.textAsJson.length > 0"
  [filesToConvert]="{
    colleges: collegesConverter.collegesJSON,
    programs: programsInput.textAsJson,
    institutions: institutionsConverter.institutionsJSON
  }"
  #programsConverter
  (click)="displaySaveFile(false)">
</app-convertProgramsToSchema>

<br />
<br />

<span *ngIf="!(collegesConverter?.collegesJSON?.length > 0) || !(programsConverter?.programsJSON?.length > 0)">
  Please convert Colleges and Programs to continue to Institution Conversion
</span>
<app-fileInput
*ngIf="(collegesConverter?.collegesJSON?.length > 0) && (programsConverter?.programsJSON?.length > 0)"
  [buttonText]="'Choose Agreements File'"
  [logic]="'agreements'"
  #agreementsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertAgreementsToSchema
  *ngIf="agreementsInput?.textAsJson.length > 0"
  [filesToConvert]="{
    colleges: collegesConverter.collegesJSON,
    agreements: agreementsInput.textAsJson,
    programs: programsConverter.programsJSON,
    institutions: institutionsConverter.institutionsJSON
  }"
  #agreementConverter
  (click)="displaySaveFile(false)"
></app-convertAgreementsToSchema>

<br />
<br />



<app-fileInput
  [buttonText]="'Choose Transfer Guidelines File'"
  [logic]="'guidelines'"
  #transferGuidelinesInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<!-- <span *ngIf="transferGuidelinesInput.textAsJson.length == 0">Please Choose Pathways and Transfer Guidelines to continue with Course Enrichment data conversion</span> -->
<app-convertPathwaysToSchema
  *ngIf="transferGuidelinesInput.textAsJson.length > 0"
  [filesToConvert]="{ guidelines: transferGuidelinesInput.textAsJson }"
  #pathwaysConverter
  (click)="displaySaveFile(false)"
></app-convertPathwaysToSchema>

<br />
<br />

</ng-container>
<br />
<br />
<hr />
Due to large size of some files, downloads are broken into multiple chunks.
<hr/>
<button id="downloadFiles1" (click)="displaySaveFile1()">Download converted files - other</button>
<br />
<br />
<br />
<br />
<div *ngIf="_displaySaveFile1 === true">
  Custom file names must be three or more characters long,<br />
  otherwise, a default filename will be supplied.<br /><br />
  All file names will have a timestamp appended to ensure uniqueness.<br /><br />
</div>
<app-saveFile
  *ngIf="_displaySaveFile1 === true"
  [fileContent]="[
    {
      file: agreementConverter?.partner_agreementsJSON
        ? agreementConverter.partner_agreementsJSON.length > 0
          ? agreementConverter?.partner_agreementsJSON
          : undefined
        : undefined,
      name: 'partner_agreements'
    },
    {
      file: agreementConverter?.agreement_pathwaysJSON
        ? agreementConverter.agreement_pathwaysJSON.length > 0
          ? agreementConverter?.agreement_pathwaysJSON
          : undefined
        : undefined,
      name: 'agreement_pathways'
    },

    {
      file: agreementConverter?.applied_creditsJSON
        ? agreementConverter.applied_creditsJSON.length > 0
          ? agreementConverter?.applied_creditsJSON
          : undefined
        : undefined,
      name: 'agreement_applied_credits'
    },

    {
      file: collegesConverter?.collegesJSON
        ? collegesConverter.collegesJSON.length > 0
          ? collegesConverter?.collegesJSON
          : undefined
        : undefined,
      name: 'colleges'
    },

    {
      file: programsConverter?.programsJSON
        ? programsConverter.programsJSON.length > 0
          ? programsConverter?.programsJSON
          : undefined
        : undefined,
      name: 'programs'
    },

    {
      file: pathwaysConverter?.transferGuidelinesJSON
        ? pathwaysConverter.transferGuidelinesJSON.length > 0
          ? pathwaysConverter?.transferGuidelinesJSON
          : undefined
        : undefined,
      name: 'transfer_guidelines'
    },

    {
      file: stateConverter?.statesJSON
        ? stateConverter.statesJSON.length > 0
          ? stateConverter?.statesJSON
          : undefined
        : undefined,
      name: 'states'
    },

    {
      file: institutionsConverter?.institutionsJSON
        ? institutionsConverter.institutionsJSON.length > 0
          ? institutionsConverter?.institutionsJSON
          : undefined
        : undefined,
      name: 'partner_institutions'
    }
  ]"
></app-saveFile>

<button id="downloadFiles2" (click)="displaySaveFile2()">Download converted files - pathway_mappings</button>
<br />
<br />
<br />
<br />
<app-saveFile
  *ngIf="_displaySaveFile2 === true"
  [fileContent]="[
{
  file: agreementConverter?.pathway_mappingsJSON
    ? agreementConverter.pathway_mappingsJSON.length > 0
      ? agreementConverter?.pathway_mappingsJSON
      : undefined
    : undefined,
  name: 'pathway_mappings'
}  ]"
></app-saveFile>
<!-- 
<button id="downloadFiles3" (click)="displaySaveFile3()">Download source files as JSON</button>
<br />
<br />
<br />
<br />
<app-saveFile
  *ngIf="_displaySaveFile3 === true"
[fileContent]="[
  {
    file: collegesInput?.textAsJson
      ? collegesInput.textAsJson.length > 0
        ? collegesInput?.textAsJson
        : undefined
      : undefined,
    name: 'collegesInputFileAsJSON'
  },

  {
    file: programsInput?.textAsJson
      ? programsInput.textAsJson.length > 0
        ? programsInput?.textAsJson
        : undefined
      : undefined,
    name: 'programsInputFileAsJSON'
  },

    {
      file: agreementsInput?.textAsJson
        ? agreementsInput.textAsJson.length > 0
          ? agreementsInput?.textAsJson
          : undefined
        : undefined,
      name: 'agreementsInputFileAsJSON'
    },


    {
      file: transferGuidelinesInput?.textAsJson
        ? transferGuidelinesInput.textAsJson.length > 0
          ? transferGuidelinesInput?.textAsJson
          : undefined
        : undefined,
      name: 'transferGuidelinesInputFileAsJSON'
    },

    {
      file: statesInput?.textAsJson
        ? statesInput.textAsJson.length > 0
          ? statesInput?.textAsJson
          : undefined
        : undefined,
      name: 'statesInputFileAsJSON'
    },

    {
      file: shareInstitutionsInput?.textAsJson
        ? shareInstitutionsInput.textAsJson.length > 0
          ? shareInstitutionsInput?.textAsJson
          : undefined
        : undefined,
      name: 'shareInstitutionsInputAsJSON'
    },
    {
      file: partnerInstitutionsInput?.textAsJson
        ? partnerInstitutionsInput.textAsJson.length > 0
          ? partnerInstitutionsInput?.textAsJson
          : undefined
        : undefined,
      name: 'partnerInstitutionsInputFileAsJSON'
    }  ]"
    ></app-saveFile>


<br /> -->
<!-- <button (click)="logStuff()">logStuff</button> -->
