<a
  href="https://westerngovernorsuniversity.sharepoint.com/sites/PartnersMigration/SharePartnerDataDumps/Forms/AllItems.aspx?OR=Teams%2DHL&CT=1675178904359&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMzAxMDEwMDkxMSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D&viewid=b0919664%2D321d%2D4494%2Db6ad%2Db5c9d2c719f8"
  target="_blank"
>
  Parther Site Data Dumps</a
>
<br />
From the Partner Site Data Dumps, Select December 2022 (or another year/month
specified by the Partner Site team).<br />
Download Agreements_with_College_Institution..., Pathways..., Institution...,
and StateOptions... files from the Partner folder,<br />
and Institution... from the Share folder.<br />
<br />
Then use the below tools to convert to JSON and download the converted files
<br />
<br />
<br />
<hr />
<app-fileInput
  [buttonText]="'Choose Agreements File'"
  [logic]="'agreements'"
  #agreementsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertAgreementsToSchema
  *ngIf="agreementsInput.textAsJson.length > 0"
  [fileToConvert]="agreementsInput.textAsJson"
  #agreementConverter
  (click)="displaySaveFile(false)"
></app-convertAgreementsToSchema>

<br />
<br />

<!-- <app-fileInput
  [buttonText]="'Choose Pathways File'"
  [logic]="'vanilla'"
  #pathwaysInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br /> -->

<app-fileInput
  [buttonText]="'Choose Transfer Guidelines File'"
  [logic]="'guidelines'"
  #transferGuidelinesInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<!-- <span *ngIf="transferGuidelinesInput.textAsJson.length == 0">Please Choose Pathways and Transfer Guidelines to continue with Course Enrichment data conversion</span> -->
<app-convertPathwaysToSchema
  *ngIf="transferGuidelinesInput.textAsJson.length > 0"
  [filesToConvert]="{guidelines: transferGuidelinesInput.textAsJson}"
  #pathwaysConverter
  (click)="displaySaveFile(false)"
></app-convertPathwaysToSchema>

<br />
<br />

<app-fileInput
  [buttonText]="'Choose States File'"
  [logic]="'vanilla'"
  #statesInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertStatesToSchema
  *ngIf="statesInput.textAsJson.length > 0"
  [fileToConvert]="statesInput.textAsJson"
  #stateConverter
  (click)="displaySaveFile(false)"
></app-convertStatesToSchema>
<br />
<br />
<span *ngIf="!(stateConverter?.statesJSON?.length > 0)">
  Please convert States to continue to Institution Conversion
</span>
<app-fileInput
  *ngIf="stateConverter?.statesJSON?.length > 0"
  [buttonText]="'Choose Share Institutions File'"
  [logic]="'vanilla'"
  #shareInstitutionsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-fileInput
  *ngIf="shareInstitutionsInput?.textAsJson?.length > 0"
  [buttonText]="'Choose Partner Institutions File'"
  [logic]="'vanilla'"
  #partnerInstitutionsInput
  (click)="displaySaveFile(false)"
></app-fileInput>
<br />
<br />
<app-convertInstitutionsToSchema
  *ngIf="
    shareInstitutionsInput?.textAsJson?.length > 0 &&
    partnerInstitutionsInput?.textAsJson?.length > 0
  "
  [filesToConvert]="{
    share: shareInstitutionsInput.textAsJson,
    partner: partnerInstitutionsInput.textAsJson,
    state: stateConverter.statesJSON
  }"
  #institutionsConverter
  (click)="displaySaveFile(false)"
></app-convertInstitutionsToSchema>
<br />
<br />
<hr />
<button id="downloadFiles" (click)="displaySaveFile()">Download files</button>
<br />
<br />
<br />
<br />
<div *ngIf="_displaySaveFile === true">
  Custom file names must be three or more characters long,<br />
  otherwise, a default filename will be supplied.<br /><br />
  All file names will have a timestamp appended to ensure uniqueness.<br /><br />
</div>
<app-saveFile
  *ngIf="_displaySaveFile === true"
  [fileContent]="[
    {
      file: agreementsInput?.textAsJson
        ? agreementsInput.textAsJson.length > 0
          ? agreementsInput?.textAsJson
          : undefined
        : undefined,
      name: 'agreementsInputFileAsJSON'
    },

    {
      file: transferGuidelinesInput?.textAsJson
        ? transferGuidelinesInput.textAsJson.length > 0
          ? transferGuidelinesInput?.textAsJson
          : undefined
        : undefined,
      name: 'transferGuidelinesInputFileAsJSON'
    },

    {
      file: statesInput?.textAsJson
        ? statesInput.textAsJson.length > 0
          ? statesInput?.textAsJson
          : undefined
        : undefined,
      name: 'statesInputFileAsJSON'
    },

    {
      file: shareInstitutionsInput?.textAsJson
        ? shareInstitutionsInput.textAsJson.length > 0
          ? shareInstitutionsInput?.textAsJson
          : undefined
        : undefined,
      name: 'shareInstitutionsInputAsJSON'
    },
    {
      file: partnerInstitutionsInput?.textAsJson
        ? partnerInstitutionsInput.textAsJson.length > 0
          ? partnerInstitutionsInput?.textAsJson
          : undefined
        : undefined,
      name: 'partnerInstitutionsInputFileAsJSON'
    },

    {
      file: agreementConverter?.partner_agreementsJSON
        ? agreementConverter.partner_agreementsJSON.length > 0
          ? agreementConverter?.partner_agreementsJSON
          : undefined
        : undefined,
      name: 'partner_agreements'
    },
    {
      file: agreementConverter?.agreement_pathwaysJSON
        ? agreementConverter.agreement_pathwaysJSON.length > 0
          ? agreementConverter?.agreement_pathwaysJSON
          : undefined
        : undefined,
      name: 'agreement_pathways'
    },
    {
      file: agreementConverter?.pathway_mappingsJSON
        ? agreementConverter.pathway_mappingsJSON.length > 0
          ? agreementConverter?.pathway_mappingsJSON
          : undefined
        : undefined,
      name: 'pathway_mappings'
    },
    {
      file: agreementConverter?.applied_creditsJSON
        ? agreementConverter.applied_creditsJSON.length > 0
          ? agreementConverter?.applied_creditsJSON
          : undefined
        : undefined,
      name: 'applied_credits'
    },

    {
      file: pathwaysConverter?.transferGuidelinesJSON
        ? pathwaysConverter.transferGuidelinesJSON.length > 0
          ? pathwaysConverter?.transferGuidelinesJSON
          : undefined
        : undefined,
      name: 'transferGuidelinesJSON'
    },

    {
      file: stateConverter?.statesJSON
        ? stateConverter.statesJSON.length > 0
          ? stateConverter?.statesJSON
          : undefined
        : undefined,
      name: 'states'
    },

    {
      file: institutionsConverter?.institutionsJSON
        ? institutionsConverter.institutionsJSON.length > 0
          ? institutionsConverter?.institutionsJSON
          : undefined
        : undefined,
      name: 'partner_institutions'
    }
  ]"
></app-saveFile>
<br />
<!-- <button (click)="logStuff()">logStuff</button> -->
